@model TeamListViewModel
@{
    ViewData["Title"] = "Name";
}
<form asp-action="Change" method="post">
    <input asp-for="@Model.UserName" placeholder="Type name here" class="mb-3" />
    <br />

    <!-- you can code a link to the Home page here -->

    <a asp-action="Index" asp-controller="Home" class="btn btn-primary"
       asp-route-activeConf="@Model.ActiveConf"
       asp-route-activeDiv="@Model.ActiveDiv"> Return to Home Page
   </a>
    <button type ="submit" class="btn btn-primary">
        Change Name
    </button>

</form>